.about{
    background: linear-gradient(#474F7A,#1F2544);
    height: 100%;
    .inside-about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        @media (max-width: 738px){
             gap:2vh;
        }
        

        .heading{
            font-size: 36px;
            color:orange;
            padding-top:0.5vh;
            @media (max-width: 738px){
                font-size: 28px;
                padding-top: 34px;
                text-align: center;

            }
            
        }

        .profile-pic{
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 738px){
                padding-top: 1vh;

                img{
                    height: 200px !important;
                    width: 200px !important;
                    object-fit: cover;
                   
                }

            }
            

            img{
                height: 20%;
                width: 20%;
                object-fit: cover;
            }
        }

        .content{
            padding: 30px;
             width: 80%;
            display: flex;
            font-size: 18px;
            line-height: 30px;
            border: 1px solid lightgray;
            border-radius: 50px;
            letter-spacing: 1px;

            @media (max-width: 738px){
                padding: 5vw;
                width: 92%;
                font-size: 15px;

            }
            
        }

    }
}