
.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 100px;

        @media (max-width: 738px){
             justify-content: flex-end;
             padding:20px;
        }
        
        span{
            font-weight: bold;
            font-size: 36px;
             
            @media (max-width: 738px){
                display: none;
            }
            

        }

        .socialLinks{
            display: flex;
            gap:20px;
            @media (max-width: 738px){
                img{
                width: 40px !important;
                height: 40px !important;}
    
            }
            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
                padding: 3px
  
            
            }

            img:hover{
                cursor: pointer;
                scale: 0.9;
            }
        }
        
    }
}

