html{

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans",sans-serif;
}

body{
  background-color: #1F2544;
  color: lightgray;
}


a{
  text-decoration: none;
  color: inherit;
}

section{
  height:100vh;
  scroll-snap-align: center;
}

@media (max-width: 738px){
  section{
    /* min-height: fit-content; */
    overflow-y: scroll;
  }

}



@media (max-width:1024px){

}



